<h1>Welcome to the MDM solution adviser</h1>
<ul>
<li><%= link_to "Problems", problems_url %></li>
<li><%= link_to "References", references_url %></li>
<li><%= link_to "Solutions", solutions_url %></li>
</ul>
