<h2>Show Problem</h2>
<%  semantic_form_for(@problem) do |f| %>
    <%= render(:partial => "problem", :object => @problem, :locals => {:read_only => true, :f => f }) %>    
    <% f.buttons do %>
      <%= link_to 'Edit', edit_problem_path(@problem) %> |
      <%= link_to 'Back', problems_path %>
    <% end %>
<% end %>




