<h1>Editing reference</h1>

<% semantic_form_for(@reference) do |f| %>
    <%= render(:partial => "reference", :object => @reference, :locals => {:read_only => false, :f => f }) %>    
    <% f.buttons do %>
      <%= f.commit_button  %>
      <%= link_to 'Back', references_path %>
    <% end %>
<% end %>
