<h1>Showing Reference</h1>
<%  semantic_form_for(@reference) do |f| %>
    <%= render(:partial => "reference", :object => @reference, :locals => {:read_only => true, :f => f }) %>    
    <% f.buttons do %>
    <%= link_to 'Edit', edit_reference_path(@reference) %> |
    <%= link_to 'Back', references_path %>
    <% end %>
<% end %>

