<h1>Editing solution</h1>

<% semantic_form_for(@solution) do |f| %>
    <%= render(:partial => "solution", :object => @solution, :locals => {:read_only => false, :f => f }) %>    
    <% f.buttons do %>
      <%= f.commit_button  %>
      <%= link_to 'Back', solutions_path %>
    <% end %>
<% end %>
