<h1>Showing solution</h1>

<% semantic_form_for(@solution) do |f| %>
    <%= render(:partial => "solution", :object => @solution, :locals => {:read_only => true, :f => f }) %>    
    <% f.buttons do %>
      <%= link_to 'Edit', edit_solution_path(@solution) %> |
      <%= link_to 'Back', solutions_path %>
    <% end %>
<% end %>

